name: Lint Check
on: pull_request
jobs:
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install modules
        run: yarn install
      - name: Run lint check
        run: yarn run lint:check
